<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <title>Assist Desk</title>
</head>
<body>

<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar fixed-top navbar-dark bg-dark">

    <a class="navbar-brand" href="/">
        <img src="/face.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Assist Desk
    </a>

    <!-- web socket -->
    <ul class="nav navbar-nav ml-auto flex-row float-center">
        <form id="incoming-form" class="form-inline">
            <button id="incomings" class="btn btn-outline-success" type="button" hidden="">Incoming call</button>
            <button id="connect" class="btn btn-sm btn-outline-secondary" type="submit" hidden="">Subscribe</button>
        </form>
    </ul>

    <ul class="nav navbar-nav ml-auto flex-row float-right">
        <li class="nav-item"><a class="nav-link pr-3" href="/profile" th:text="${username}"></a></li>
        <li class="nav-item"><a class="nav-link pr-3" href="/logout">Logout</a></li>
    </ul>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

</nav>


<!-- https://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
<form action="#">
    <ul class="nav nav-tabs">

        <li class="nav-item" th:each="project: ${projects}">
            <a th:class="@{(${project.current}==true)?'nav-link active':'nav-link'}"
               th:href="@{/project/{id}(id=${project.id})}" th:text="${project.name}"></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
    </ul>
</form>


<h2>New issue</h2>
<div class="container">
    <form action="#" th:action="@{/placeIssue}" th:object="${issueDetails}" method="POST">
        <div class="form-group">
            <input class="form-control" th:field="*{projectId}" hidden=""/>
            <div class="form-group" th:classappend="${#fields.hasErrors('subject')}? 'has-error'">
                <input class="form-control" rows="1" cols="60" required="" autofocus=""
                       th:field="*{subject}" placeholder="subject"/>
                <p th:if="${#fields.hasErrors('subject')}" class="label label-danger" th:errors="*{subject}"/>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                <textarea class="form-control" rows="5" cols="60" required="" autofocus=""
                          th:field="*{description}" placeholder="description"></textarea>
                <p th:if="${#fields.hasErrors('description')}" class="label label-danger" th:errors="*{description}"/>
            </div>
            <div class="form-group">
                <fieldset class="rating">
                    <input class="form-check-input" type="radio" id="star5" name="rating" value="5"/><label for="star5" title="Excellent!">5 stars</label>
                    <input class="form-check-input" type="radio" id="star4" name="rating" value="4"/><label for="star4" title="Good">4 stars</label>
                    <input class="form-check-input" type="radio" id="star3" name="rating" value="3"/><label for="star3" title="Got">3 stars</label>
                    <input class="form-check-input" type="radio" id="star2" name="rating" value="2"/><label for="star2" title="Bad">2 stars</label>
                    <input class="form-check-input" type="radio" id="star1" name="rating" value="1"/><label for="star1" title="Sucks">1 star</label>
                </fieldset>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Place the issue"/>
    </form>
    <hr/>
</div>

<h2>Issues</h2>
<table class="table">
    <thead>Issues details:</thead>
    <tbody>
    <tr th:each="entry: ${issues}">
        <td><a th:href="@{http://redmine/issues/{issueId}(issueId=${entry.issueId})}" th:text="${entry.issueId}"></a></td>
        <td th:text="${entry.subject}"/>
        <td th:text="${entry.description}"/>
        <td th:id="@{'timer'+${entry.issueId}}"></td>
        <td><a th:href="@{/timer/start/{projectId}/{issueId}(projectId=${entry.projectId},issueId=${entry.issueId})}"
               class="btn btn-success custom-width">start</a></td>
        <td><a th:href="@{/timer/stop/{projectId}/{issueId}(projectId=${entry.projectId},issueId=${entry.issueId})}"
               class="btn btn-danger custom-width">stop</a></td>
    </tr>
    </tbody>
</table>

<h2>Calls</h2>
<table class="table">
    <thead>Calls details:</thead>
    <tbody>
    <tr th:each="entry: ${calls}">
        <td th:text="${entry.description}"/>
        <td th:text="${entry.name}"/>
        <td th:text="${entry.number}"/>
        <td th:text="${entry.duration}"/>
        <td th:text="${{entry.callDate}}"/>
    </tr>
    </tbody>
</table>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/stomp.js"></script>

</body>
</html>
