<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <title>Assist Desk</title>
</head>
<body>

<nav class="navbar fixed-top navbar-dark bg-dark">

    <a class="navbar-brand" href="/">
        <img src="/face.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Assist Desk
    </a>

    <ul class="nav navbar-nav ml-auto flex-row float-right">
        <li class="nav-item"><a class="nav-link pr-3" href="/login">Login</a></li>
    </ul>

</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-signin" method="post" action="#" th:action="@{/registration}" th:object="${registration}">
                <h2 class="form-signin-heading">Registration</h2>
                <input type="text" class="form-control" placeholder="username" required="" autofocus=""
                       th:field="*{username}"/>
                <input type="password" class="form-control" placeholder="password" required=""
                       th:field="*{password}"/>
                <input type="password" class="form-control" placeholder="password" required=""
                       th:field="*{passwordConfirmation}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="registration">Register</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
