<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <title>Assist Desk</title>
</head>
<body>

<nav class="navbar fixed-top navbar-dark bg-dark">

    <a class="navbar-brand" href="/">
        <img src="/face.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Assist Desk
    </a>
<!--
    <ul class="nav navbar-nav ml-auto flex-row float-right">
        <li class="nav-item"><a class="nav-link pr-3" href="/logout">Logout</a></li>
    </ul>
-->
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="#" th:action="@{/placeTime}" th:object="${details}" method="POST">

                <h2 class="form-heading">Spent time</h2>

                <input type="text" class="form-control"
                       th:field="*{projectId}" readonly hidden=""/>

                <div class="form-group row">
                    <label for="issueId" class="col-sm-2 col-form-label">issue#</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" id="issueId"
                       th:field="*{issueId}" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="issueId" class="col-sm-2 col-form-label">spent time, sec.</label>
                    <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="seconds" required=""
                       th:field="*{spentSeconds}"/>
                    </div>
                </div>

                <input type="text" class="form-control" placeholder="comment" required=""
                       th:field="*{comment}"/>

                <p>&nbsp</p>
                <input class="btn btn-primary" type="submit" value="Save spent time"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>
